@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow-x: hidden;
    font-family:'inter','sans-serif' !important;
}
body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
  
body::-webkit-scrollbar-thumb {
    background: #6a78bb !important;
    border-radius: 5px;
}
  
body::-webkit-scrollbar-track {
    background: #6a78bb;
    border: 0.22rem solid transparent;
    background-clip: content-box;
}
.react-calendar{
    width: 27rem !important;
}
span.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    font-weight: 600;
}
.react-calendar__month-view__weekdays__weekday{
    color: #0B74AD !important;
}

.interview-info::-webkit-scrollbar-track {
    background: #bdbec2 !important;
    border: 0.22rem solid transparent;
    background-clip: content-box;
}
.interview-info::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.8rem;
}
.interview-info::-webkit-scrollbar-thumb {
    background: #0d99ff;
    border-radius: 5px;
}
.react-calendar__month-view__days__day--weekend{
    color: black !important;
}
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button{
    display: none !important;
}
.highlight, .highlight-round{
    background: #7095a9ae !important;
}
.highlight-round abbr {
    background: #0d99ff !important;
    border-radius: 1.2rem !important;
    border: 0.5rem solid transparent;
    color: #fff !important;
}
.react-calendar__tile--now{
    background: transparent !important
}
.card_title .ant-card-head{
    @apply !p-0
}

.card-footer .ant-card-body {
   @apply !p-0;
  }

.candidate .ant-card-head{
    @apply border-none
}

.ant-tabs-tab.ant-tabs-tab-active{
    background: #7095a9ae !important ;
    color:  black !important;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
    color:  black !important; 
}
.ag-header-row{
    background: #ecebeb !important;
}
.ag-header-cell-resize{
    visibility: hidden !important;
}